<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Seur>
			<version>0.1.0</version>
		</Mage_Seur>
	</modules>
	<global>
		<blocks>
			<seur>
				<class>Mage_Seur_Block</class>
			</seur>
		</blocks>
		<helpers>
			<seur>
				<class>Mage_Seur_Helper</class>
			</seur>
		</helpers>
		<models>
			<seur>
				<class>Mage_Seur_Model</class>
			</seur>
		</models>
		<sales>
			<shipping>
				<carriers>
					<seur>
						<class>Mage_Seur_Model_Seur</class>
					</seur>
				</carriers>
			</shipping>
		</sales>
	</global>
	<default>
		<carriers>
			<seur>
				<active>1</active>
				<model>mage_seur_model_seur_seur</model>
				<title>Seur</title>
				<msg></msg>
				<min_order_value>0</min_order_value>
				<max_order_value>0</max_order_value>
				<weight_units>1</weight_units>
				<handling_fee>0</handling_fee>
				<xtra>0</xtra>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
			</seur>
		</carriers>
	</default>
</config>